<div class="card">
    <div class="card-header">{{ trip.name }}</div>
    <img src="assets/images/{{ trip.image }}" class="card-img-top">
    <div class="card-body">
      <h6 class="card-subtitle mb-3 text-muted">
        {{ trip.resort }}
        <span *ngIf="trip.soldOut" class="badge bg-danger ms-2">Sold Out</span>
      </h6>
      <p class="card-text">{{ trip.description }}</p>
  
      <!-- Conditionally display the Edit Trip button -->
      <div *ngIf="isLoggedIn()">
        <button (click)="editTrip()" class="btn btn-info">Edit Trip</button>
      </div>
    </div>
  </div>  