<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
  <meta charset="UTF-8">
  <title>Dive Sites - Bhaccasyoniztas Beach Resort Website Template</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
  <div id="background">
    <div id="page">
      {{> header }}
      <div id="contents">
        <div class="box">
          <div>
            <div>
              <h1>Travel</h1>
              <p>
                <!-- Travel content goes here -->
              </p>
            </div>
          </div>
        </div>
      </div>
      {{> footer }}
    </div>
  </div>
</body>
</html>